<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script>
        window.pathBase = "@(!string.IsNullOrEmpty(Request.ApplicationPath) ? Request.ApplicationPath.TrimEnd('/') + "/" : "/")";
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
